.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
users.db
user.db
.env
.DS_Store
.vscode/
/.idea/
*.log
instance/
env/
pip-wheel-metadata/
htmlcov/
dist/
build/
eggs/
*.egg-info/
local_settings.py